/*公共的样式表*/

.clearfix::after .clearfix::before {
    display: table;
    clear: both;
    content: '';
}

body {
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    color: #333;
    min-width: 1226px;
}

a {
    text-decoration: none;
}

.container {
    width: 1226px;
    margin: 0 auto;
}

