<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人订单</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
    <!--引入重置样式表-->
    <link rel="stylesheet" href="css/reset.css">
    <!--引入公共样式表-->
    <link rel="stylesheet" href="css/base.css">
    <!--引入当前页面样式表-->
    <link rel="stylesheet" href="css/index.css">
    <!--引入图标字体样式-->
    <script src="https://kit.fontawesome.com/8d6e7b9682.js" crossorigin="anonymous"></script>
    <!--轮播样式-->
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <link rel="stylesheet" href="css/my_order.css">
    <!--semanticUI-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" />
</head>
<body>
<div class="topbar-wrapper layui-bg-cyan">
    <!--顶部欢迎界面-->
    <div class="welcome">
        欢迎访问Hotel.com。继续访问
        <strong class="repository">项目仓库：</strong>
        <a href="https://gitlab.suncaper.net/steven900516/hotel">gitlab.suncaper.net/steven900516/hotel</a>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" style="position: relative;left: 600px" id="enter">管理员入口
            <i class="layui-icon layui-icon-right"></i>
        </button>
    </div>
    <!--顶部导航栏-->
    <div class="navigation-bar">
        <!--左侧导航栏-->
        <div class="home">
            <img class="ui medium circular image" src="images/index.png">
            我的订单
        </div>
        <!--右侧导航栏-->
        <ul class="service">
            <li><a href="/personal" id="comm">个人评论管理<i class="fa fa-user"></i></a></li>
            <li><a href="/my_order" id="own">我的订单</a></li>

            <li><a href="/">首页</a></li>
            <li><a href="/login" id="lohr">登录/注册</a></li>
        </ul>
    </div>
</div>

<div id="middlePart">
    <table id="demo" lay-filter="test" style="width: 80%"></table>
</div>
<!--***************************************js*****-->

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type='text/javascript' src='js/jquery-1.12.4.min.js'></script>
<script src="layDate-v5.3.1/laydate/laydate.js"></script>
<script src="layui/layui.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="js/all.js"></script>
<script type="text/html" id="rowToolbar">
    {{#  if(d.pay == false){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" style="font-size: 15px">取消订单</a>
    <!--    <a href="/detail/{{d.id}}" class="layui-table-link">{{d.title}}</a>-->
    {{#  } else { }}
    <a>暂无操作</a>
    {{#  } }}

</script>


<script>
    layui.use('table', function () {
        var table = layui.table;

        $("#com").click(function (){
            if ($.cookie('username') == null) {
                layer.msg('用户未登录！请先登陆账号', {
                    icon: 5,
                    time: 1500,
                    anim: 2,
                }, function(){
                    window.location = "/login"
                });
            }
        })


        //第一个实例
        table.render({
            elem: '#demo'
            , height: 450,
            skin: 'line',
            toolbar: '#toolbarDemo'
            , url: '/hotel/list_pay' //数据接口
            , initSort: {
                field: 'pay' //排序字段，对应 cols 设定的各字段名
                , type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
            , page: true //开启分页,
            , where: {username: $.cookie('username')},
            request: {
                pageName: 'pageNo' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , parseData: function (res) { //res 即为原始返回的数据
                pageNo = res.data.current
                pageSize = res.data.size

                if(res.data.records.length == 0){
                    layer.msg('暂时没有记录哦~亲', {
                        icon: 1,
                        time: 1500,
                        anim: 2,
                    });
                }

                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.records //解析数据列表
                };
            }
            , limit: 8,
            limits: [8, 16, 25, 30]
            , cols: [
                [ //表头
                    {field: 'pid', title: '订单号', width: 210},
                    {field: 'hotelId', title: '酒店ID', width: 100}
                    , {field: 'username', title: '用户名', width: 190}
                    , {field: 'totalNumber', title: '支付金额', width: 150}
                    , {
                    field: 'pay', title: '支付状态', width: 200,
                    templet: function (d) {
                        if (d.pay) {
                            return '<span style="color: dodgerblue;">' + "已支付" + '</span>'
                        } else {
                            return '<span style="color: red;">' + "未支付" + '</span>'
                        }
                    }
                }
                    , {fixed: 'right', title: '操作', toolbar: '#rowToolbar', width: 140}
                ]
            ]
        });

        table.on('tool(test)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            switch(layEvent){
                case 'del':
                    layer.open({
                        content:   '</br><strong>是否删除该未支付订单？</strong ></br></br>'
                        ,btn: ['确认', '取消'],
                        area: ['300px', '200px']
                        ,yes: function(index, layero){
                            $.ajax({
                                url: 'hotel/delete_pay',
                                type: 'post',
                                dataType: 'json',
                                data: {
                                    pid: data.pid,
                                },
                                success: function (res) {
                                    layer.msg('成功取消订单~', {
                                        icon: 1,
                                        time: 2500,
                                        anim: 2,
                                    });
                                    layer.close(index);
                                    table.reload('demo', {
                                        url: '/hotel/list_pay'
                                        ,where: {
                                            username: $.cookie('username'),
                                            pageNo: pageNo,
                                            pageSize: pageSize
                                        } ,
                                        limit: 8,
                                        limits: [8, 16, 25, 30],
                                    });
                                },
                                error:function(xhr,state,errorThrown){
                                    alert("取消失败!")
                                }
                            })
                        }
                        ,btn2: function(index, layero) {
                            layer.msg('未取消订单！', {
                                icon: 5,
                                time: 1500,
                                anim: 2,
                            });
                            layer.close(index);
                        }
                        ,cancel: function(){
                        }
                    });
                    break;
            };
        });

    });
</script>
</body>


</html>
